[submodule "minibufexpl.vim"]
	path = minibufexpl.vim
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "nerdcommenter"]
	path = nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim-railscasts-theme"]
	path = vim-railscasts-theme
	url = https://github.com/jpo/vim-railscasts-theme.git
[submodule "FindFile"]
	path = FindFile
	url = https://github.com/vim-scripts/FindFile.git
[submodule "The-NERD-tree"]
	path = The-NERD-tree
	url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule "vim-coffee-script"]
	path = vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
